<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <log4net>
    <appender name="TraceLog" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date[%thread] %-5level %logger.%method - %message%newline"/>
      </layout>
    </appender>

    <appender name="FileLog" type="log4net.Appender.RollingFileAppender">
      <param name="File" value=".\logs\SimulationSourceFileCreatorAppLog.log" />
      <param name="AppendToFile" value="true" />
      <param name="rollingStyle" value="Size" />
      <param name="maxSizeRollBackups" value="3" />
      <param name="maximumFileSize" value="1MB" />
      <param name="staticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date[%thread] %-5level %logger.%method - %message%newline"/>
      </layout>
      <Encoding type="System.Text.UTF8Encoding" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <LevelMax value="FATAL" />
        <LevelMin value="INFO" />
      </filter>
    </appender>

    <root>
      <!-- 使用するアペンダを設定 -->
      <appender-ref ref="TraceLog" />
      <appender-ref ref="FileLog" />
    </root>
  </log4net>

</configuration>